<div class="{{ classes|default('max-w-7xl mx-auto pl-4 px-32 sm:px-6 lg:px-8 pt-4 text-blue-700') }}">
    <a href="{{ url }}">
        <i class="fa fa-arrow-left pr-2"></i><span class="font-bold">{{ textKey|trans }}</span>
    </a>
</div>