{% extends 'layout/layout.html.twig' %}

{% block title %} {% endblock title %}

{% block content %}
    <div class="min-h-screen bg-gray-300">
        {{ include('layout/navigation.html.twig') }}

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                {% block app_header %} {% endblock app_header %}
            </div>
        </header>

        <main>
            {% block app_content %} {% endblock app_content %}
        </main>
    </div>
{% endblock %}